
build-3DTransitions-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/.qmake.stash
build-3DTransitions-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/3DTransitions.exe
build-3DTransitions-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/main.o
build-3DTransitions-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/Makefile
build-3DTransitions-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_predefs.h
build-3DTransitions-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_qt3dtransitions.cpp
build-3DTransitions-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_qt3dtransitions.o
build-3DTransitions-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/qt3dtransitions.o
build-3DTransitions-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/ui_qt3dtransitions.h
